.App {
}

.App-body {
  margin-right: 50px;
  margin-left: 50px;
  padding-top: 50px;
  font-size: calc(10px + 2vmin);
  font-family: 'Merriweather', serif;
}

.App-link {
  color: #61dafb;
}

.headshot {
  max-width: 20%;
  height: auto;
  float: left;
  padding-right: 50px;
}

/* .icons {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
} */

.icons {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.icon {
  margin: 5px;
}

.Alphabet {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 50px;
  color: gray;
}

.MuseumPage {
  margin-right: 50px;
  margin-left: 50px;
  padding-top: 50px;
}

.Museums {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.Museum-city {
  font-size: 12px;
}
.Museum-name {
  font-size: 15px;
}

.About-me {
  margin-bottom: 150px;
}

.column {
  float: left;
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
